<div class="card mb-4 article-card">
  <div class="card-body">
    <h2 class="card-title"><%= author.username %></h2>
    <p class="card-text"><%= author.description.truncate(250) if author.description.present? %></p>
    <%= link_to 'Know More →'.html_safe, author_path(author.username), class: 'btn btn-primary' %>
  </div>
</div>