body {
  padding-top: 68px;
}

.article-body{
  img{
    max-width: 100% !important;
    height: auto !important;
  }
}

.hidden{
  display: none;
}

.no-margin{
  margin: 0px;
}

@media (min-width: 992px) {
  body {
    padding-top: 70px;
  }
}